@tailwind base;
@tailwind components;
@tailwind utilities;
/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700;800;900&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.dark-home {
  background-color: hsla(240, 12%, 18%, 1);
  background-image: radial-gradient(
      at 51% 42%,
      hsla(333, 100%, 67%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 71% 24%, hsla(291, 91%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 34% 66%, hsla(266, 100%, 55%, 1) 0px, transparent 50%),
    radial-gradient(at 51% 59%, hsla(212, 85%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 44% 44%, hsla(319, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 58% 63%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 57% 48%, hsla(341, 100%, 40%, 1) 0px, transparent 50%);
}

.light-home {
  background-color: hsla(0, 0%, 100%, 1);
  background-image: radial-gradient(
      at 51% 42%,
      hsla(195, 100%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 71% 24%, hsla(188, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 34% 66%, hsla(160, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 51% 59%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 44% 44%, hsla(319, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 58% 63%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 57% 48%, hsla(341, 100%, 40%, 1) 0px, transparent 50%);
}

/* BUTTON GRADIENT */
.gradient-btn {
  @apply bg-gradient-to-r from-[#FF6C98] to-primary;
}

nav li {
  @apply duration-200;
}

nav li:hover {
  @apply font-bold cursor-pointer;
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  /* Make it appear like they are in a single line stacked above each other*/
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background: #fff !important;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background: #fff !important;
}

#menu {
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

/* Skill Set */
.dark-skill-set {
  background-color: hsla(240, 12%, 18%, 1);
  background-image: radial-gradient(
      at 82% 57%,
      hsla(333, 100%, 67%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 98% 41%, hsla(291, 91%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 36% 45%, hsla(266, 100%, 55%, 1) 0px, transparent 50%),
    radial-gradient(at 60% 84%, hsla(266, 85%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 29% 91%, hsla(287, 83%, 75%, 1) 0px, transparent 50%);
}

.light-skill-set {
  background-color: hsla(160, 100%, 97%, 1);
  background-image: radial-gradient(
      at 82% 57%,
      hsla(222, 83%, 88%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 98% 41%, hsla(181, 84%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 36% 45%, hsla(256, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 60% 84%, hsla(263, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 29% 91%, hsla(287, 83%, 75%, 1) 0px, transparent 50%);
}

/* COURSES */
.dark-course {
  background-color: hsla(240, 12%, 18%);
  background-image: radial-gradient(
      at 49% 61%,
      hsla(333, 100%, 67%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 17% 61%, hsla(333, 91%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 63% 80%, hsla(266, 100%, 55%, 1) 0px, transparent 50%),
    radial-gradient(at 45% 32%, hsla(212, 85%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 63%, hsla(333, 66%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 87% 55%, hsla(248, 79%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 71% 34%, hsla(240, 12%, 18%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 97%, hsla(333, 100%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 75%, hsla(333, 100%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 46%, hsla(288, 66%, 71%, 1) 0px, transparent 50%);
}

.light-course {
  background-color: hsla(160, 100%, 97%, 1);
  background-image: radial-gradient(
      at 49% 61%,
      hsla(171, 77%, 68%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 17% 61%, hsla(160, 100%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 63% 80%, hsla(160, 100%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 45% 32%, hsla(160, 100%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 63%, hsla(180, 66%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 87% 55%, hsla(248, 79%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 71% 34%, hsla(160, 100%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 97%, hsla(216, 71%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 75%, hsla(160, 100%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 46%, hsla(288, 66%, 71%, 1) 0px, transparent 50%);
}

.slick-slide {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.slick-dots {
  bottom: -70px !important;
}

.slick-initialized .slick-slide {
  display: flex !important;
  justify-content: center !important;
}

.slick-track,
.slick-list {
  display: flex !important;
}

.slide-slide {
  height: inherit !important;
}

.slide {
  height: 100% !important;
}

.project-img:hover .project-overlay {
  display: flex !important;
  cursor: pointer !important;
}

.project-overlay {
  display: none;
}
